---
title: Toggle
source: 'https://stackoverflow.com/a/48431586'
tags:
  - html
  - css
created: 2026-03-01T23:00:59.294Z
---

{% set description %}
Let's see if this works
{% endset %}

{% set css %}
.css-toggle-switch {
	display: none;
}

.css-toggle-switch + label:before {
	content: "Hide ";
}

.css-toggle-switch:checked + label:before {
	content: "Show ";
}

.css-toggle-switch:checked ~ .css-toggle-content {
	display: none;
}

.css-toggle-switch + label {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn {
	padding: 5px 10px;
	background: white;
	border: 1px solid grey;
	border-radius: 3px;
	width: 130px;
	display: inline-block;
	text-align: center;
}

.btn:hover {
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 -1px 0 #dddddd;
	-moz-box-shadow: inset 0 -1px 0 #dddddd;
	box-shadow: inset 0 -1px 0 #dddddd;
}

.panel {
	padding: 15px;
	background: #ffe06d;
	border: 1px solid #d69e01;
	border-radius: 3px;
}

pre {
	padding: 5px;
	margin-bottom: 0;
	background: #eaeaea;
	border: 1px solid grey;
}
{% endset %}

{% set html %}
<div class="panel">
    <input type='checkbox' id='css-toggle-switch' checked='checked' class='css-toggle-switch'>
    <label for='css-toggle-switch' class='btn'>Error Details</label>
    <div class='css-toggle-content'>
        <pre><code>Unexpected StackOverflow</code></pre>
    </div>
</div>
{% endset %}

{% include "demo.njk" %}