*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

header, main, footer {
    margin-inline: 1rem;
}

main {
    flex: 1 1 auto;
    max-width: 84ch;
}

pre, code {
    -moz-tab-size: 2;
    tab-size: 2;
    -o-tab-size: 2;
}

.giallo {
    padding: 0.8em;
    border-radius: 0.8em;
}

.giallo-l {
    display: inline-block;
    min-height: 1lh;
    width: 100%;
    text-wrap: stable;
    overflow-wrap: break-word;
}

// for unsupported themes or languages
.giallo-ln {
    display: inline-block;
    user-select: none;
    margin-right: 0.4em;
    padding: 0.4em;
    min-width: 3ch;
    opacity: 0.8;
}