---
layout: layouts/base.njk
---
<h2>cards</h2>
<ul>
{% for card in collections.cards %}
    <li>
        <div class="flex-row-btwn">
            <a href="{{ card.url }}">{{ card.data.title }}</a>
            <time>{{ card.data.created | fmtDate }}</time>
        </div>
    </li>
{% endfor %}
</ul>
