---
layout: layouts/base.njk
---
<h1>All decks</h1>

<ul>
{% for deck, cards in collections.decks %}
    <li>
        <div class="flex-row-btwn">
            <a href="/{{ deck }}">{{ deck }}</a>
            <span>{{ cards | length }}</span>
        </div>
    </li>
{% endfor %}
</ul>