---
created: 2026-02-25
updated: 2026-02-25
layout: layouts/base.njk
---
{% from 'macros/note.njk' import inlineNote %}
<p>Some facts about me:</p>

<ol>
    <li>I write code. Sometimes for money, sometimes for fun.</li>
    <li>I have a poor working memory. {{ inlineNote(text = "I have pretty severe ADHD. I'm medicated, but meds can only do so much.") }}</li>
    <li>I tend to use a relatively small, but consistent set of tools.</li>
</ol>

<p>