---
layout: layouts/base.njk
---
{% from 'macros/note.njk' import inlineNote %}
<p>Some facts about me:</p>

<ol>
    <li>I write code. Sometimes for money, sometimes for fun.</li>
    <li>I have a poor working memory. {{ inlineNote(text = "I have pretty severe ADHD. I'm medicated, but meds can only do so much.") }}</li>
    <li>I tend to use a relatively small, but consistent set of tools.</li>
</ol>

<p>To compensate for my working memory, I often try to <mark>externalize information</mark>.This is one such attempt to do so.</p>

<p>The bulk of this website is "card" pages. You can read more about them <a href="/about">here</a>.</p>

<hr>

<p>
    These are some of my most-used cards.
    You can also see a list of <a href="/cards">every card</a> or browse by <a href="/tags">tag</a>.
</p>

<ul>
{% for card in collections.starred | reverse %}
    <li><a href="{{ card.url }}">{{ card.data.title }}</a></li>
{% endfor %}
</ul>