---
layout: layouts/base.njk
---
<h2>snippets</h2>
<ul>
{% for snippet in collections.snippets | reverse %}
    <li>
        <div class="flex-row-btwn">
            <a href="{{ snippet.url }}">{{ snippet.data.title }}</a>
            <time>{{ snippet.data.created | fmtDate }}</time>
        </div>
    </li>
{% endfor %}
</ul>
