---
layout: layouts/tags.njk
pagination:
    data: collections.tagList
    size: 1
    alias: tag
permalink: /tags/{{ tag }}/
---
<h2>Cards tagged "{{ tag }}"</h2>

{% set cardList = collections[tag] %}
<ul>
{% for card in cardList | reverse %}
    <li>
        <div class="flex-row-btwn">
            <a href="{{ card.url }}">{{ card.data.title }}</a>
            <time>{{ card.data.created | fmtDate }}</time>
        </div>
    </li>
{% endfor %}