---
layout: folder-index.njk
pagination:
    data: collections.snippetCategories
    size: 1
    alias: category
permalink: "/snippets/{{ category }}/"
---

<h1>{{ category | capitalize }} snippets</h1>

<ul>
    {% for item in collections.all %}
        {% if "/snippets/" + category in item.url %}
            <li><a href="{{ item.url }}">{{ item.data.title or item.fileSlug }}</a></li>
        {% endif %}
    {% endfor %}
</ul>