---
layout: folder-index.njk
---
<h1>Code snippets</h1>

{% for category in collections.snippetCategories %}
    {% set categoryPosts = collections.snippets | filterBySnippetCategory(category) %}
    
    <h2>{{ category | capitalize }} ({{ categoryPosts | length }})</h2>

    <ul>
        {% for item in categoryPosts %}
            <li><a href="{{ item.url }}">{{ item.data.title or item.fileSlug }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}