{% extends "base.html" %}

{% block title %}
{{ page.title }} | {{ config.title }}
{% endblock title %}

{% block content %}
<article>
    <h1>{{ page.title }}</h1>
    <p><small>Published on: {{ page.date }}</small></p>

    {% if page.toc %}
    <ul>
    {% for h2 in page.toc %}
        <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            {% if h2.children %}
                <ul>
                    {% for h3 in h3.children %}
                        <li>
                            <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    
    {# This is the magic line that renders your Markdown #}
    {{ page.content | safe }}
</article>
{% endblock content %}