<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/syntax.css" />
</head>

<body>
    <header>
        <a href="/">code.twelvefourseven.net</a>
    </header>
    <main>
        {{ content | safe}}
    </main>
    <footer>
        Last updated: {{ site.latestBuild }}
    </footer>
</body>

</html>