<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/style.css" />
</head>

<body>
    <header>
        <a href="/">code.twelvefourseven.net</a>
        <a href="/posts">posts</a>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        A <a href="https://twelvefourseven.net" target="_blank">whit waltman</a> thingamajig.
    </footer>
</body>

</html>