<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <title>{{ site.title }}</title>
    <style>
        :root {
            --nav: 16rem;
            --status-bar: 2.25rem;
        }
        
        *, *:before, *:after {
            box-sizing: border-box;
        }

        html, body { margin: 0; padding: 0; }

        body {
            display: flex;
            {% comment %} padding: 4px; {% endcomment %}
            font-family: system-ui;
            flex-direction: row;
            height: 100vh;
            width: 100vw;
        }

        nav, main {
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        nav {
            width: var(--nav);
        }

        main {
            width: calc(100vw - var(--nav));
        }

        header, .nav__header {
            background: lime;
            min-height: var(--status-bar);
            height: var(--status-bar);
        }

        footer, .nav__footer {
            background: orange;
            min-height: var(--status-bar);
            height: var(--status-bar);
        }

        .container, .nav__container {
            background: blue;
            flex: 1 1 calc(100vh - 2 * var(--status-bar));
            height: 100%;
            overflow-y: scroll;
        }

        {% comment %} main {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            height: 100%;
            gap: 4px;
        }

        .container {
            height: 100%;
            overflow-y: scroll;
            flex: 1 1 calc(100% - 300px);
            border: 1px black solid;
            padding: 8px;
        } {% endcomment %}
    </style>
</head>
<body>
    <nav>
        <div class="nav__header"></div>
        <div class="nav__container"></div>
        <div class="nav__footer"></div>
    </nav>
    <main>
        <header>

        </header>
        <div class="container">
            {{ content }}
        </div>
        <footer>

        </footer>
    </main>
</body>
</html>