---
layout: base.njk
---
<article>
    <p>This is a documentation page</p>
    <header>
        {{ title }}
    </header>
    {{ content | safe}}
    <footer>
        <time>{{ page.date }}</time>
    </footer>
</article>