<header>
    <span><a class="{{ 'active' if '/' === page.url }}" id="title" href="/"><b>{{ site.title }}</b></a></span>
    <span><a class="{{ 'active' if '/ref/' in page.url }}" href="/ref">ref</a></span>
    <span><a class="{{ 'active' if '/notes/' in page.url }}" href="/notes">notes</a></span>
    <span><a class="{{ 'active' if '/about/' === page.url }}" href="/about">about</a></span>
</header>