<style>
    nav {
        display: none;
        height: 100%;
    }

    nav.active {
        display: block;
        flex: 0 0 var(--nav);
        overflow-y: scroll;
        border: 1px black solid;
    }
</style>
<nav>
    <section>
        <h3>On this page</h3>
    </section>
    <section>
        <ul>
        {%- for item in collections.all -%}
            <li><a href="{{ item.url }}">{{ item.url }}</a></li>
        {%- endfor -%}
        </ul>
    </section>
</nav>