<nav>
    <ul>
        <li>TEST</li>
    {% for item in collections.all %}
        {{ collections.all.length }}
        <li>TEST</li>
        <li><a href="{{ item.url }}">{{ item.url }}</a></li>
    {% endfor %}
    </ul>
</nav>