---
layout: base.njk
---
<article>
    <h3>{{ title }}</h3>
    {{ content | safe }}
    <br>
    {{ page | dump }}
    {% if tags %}
    <p>Tags:</p>
    <ul>
        {% for tag in tags %}
        <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</article>

{# do something with tags and references #}