*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

header, main, footer {
    margin-inline: 1rem;
}

header {
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main {
    flex: 1 1 auto;
    max-width: 84ch;
}

pre, code {
    -moz-tab-size: 2;
    tab-size: 2;
    -o-tab-size: 2;
}

.pagefind-ui__results-area * {
    margin: 0;
}

/* || Note styling */
body.js-enabled {
	counter-reset: fn;
}

.js-enabled .note-container {
	cursor: pointer;
	counter-increment: fn;
}

.js-enabled .note-container[aria-expanded="false"]::before {
	content: "[" counter(fn);
}

.note-container::before {
	content: "[";
}

.note-container::after {
	content: "]";
}

/* .note-container[aria-expanded="true"]::before,
.note-container[aria-expanded="true"]::after {
	content: "...";
	user-select: none;
	opacity: 0.6;
	margin: 0 2px;
} */

.js-enabled .note {
	display: none;
}

.note-container[aria-expanded="true"] .note {
	display: inline;
	font-style: italic;
}

.note-container {
	display: inline;
	color: slategray;
}

.note-container:focus {
	outline: none;
}

.note-container:focus-visible {
	outline: 2px solid blue;
	outline-offset: 2px;
	border-radius: 2px;
}