*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background: slategray;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    margin: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 84ch;
}

header,
footer {
    padding-block: 1rem;
    padding-inline: 1.25rem;
}

header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

main {
    flex: 1 1 auto;
    padding-inline: 1.25rem;
}

footer span {
    font-size: 0.9rem;
}

pre,
code {
    -moz-tab-size: 2;
    tab-size: 2;
    -o-tab-size: 2;
}

hr {
    margin-block: 2.5rem;
    margin-left: 0;
    width: 4rem;
}

.flex-row-btwn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagefind-ui__results-area * {
    margin: 0;
}

/* || Search styling */
#search-modal::backdrop {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

#search-modal {
    width: 90%;
    max-width: 650px;
    height: 500px;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagefind-ui__form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.pagefind-ui__search-input {
    flex-grow: 1;
}

/* Pagefind results */
#search {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

.pagefind-ui__results-area {
    overflow-y: auto !important;
    flex-grow: 1;
    padding-right: 10px;
}

/* || Note styling */
body.js-enabled {
    counter-reset: fn;
}

.js-enabled .note-container {
    cursor: pointer;
    counter-increment: fn;
}

.js-enabled .note-container[aria-expanded="false"]::before {
    content: "[" counter(fn);
}

.note-container::before {
    content: "[";
}

.note-container::after {
    content: "]";
}

.js-enabled .note {
    display: none;
}

.note-container[aria-expanded="true"] .note {
    display: inline;
    font-style: italic;
}

.note-container {
    display: inline;
    color: slategray;
}

.note-container:focus {
    outline: none;
}

.note-container:focus-visible {
    outline: 2px solid blue;
    outline-offset: 2px;
    border-radius: 2px;
}