*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overscroll-behavior-y: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    background: slategray;
}

header, main, footer {
    padding-inline: 1.25rem;
    max-width: 84ch;
    background: white;
}

header, footer {
    padding-block: 1rem;
}

header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

main {
    flex: 1 1 auto;
}

footer span {
    font-size: 0.9rem;
}

pre, code {
    -moz-tab-size: 2;
    tab-size: 2;
    -o-tab-size: 2;
}

hr {
  margin-block: 2.5rem;
  margin-left: 0;
  width: 4rem;
}

.pagefind-ui__results-area * {
    margin: 0;
}

/* || Note styling */
body.js-enabled {
	counter-reset: fn;
}

.js-enabled .note-container {
	cursor: pointer;
	counter-increment: fn;
}

.js-enabled .note-container[aria-expanded="false"]::before {
	content: "[" counter(fn);
}

.note-container::before {
	content: "[";
}

.note-container::after {
	content: "]";
}

.js-enabled .note {
	display: none;
}

.note-container[aria-expanded="true"] .note {
	display: inline;
	font-style: italic;
}

.note-container {
	display: inline;
	color: slategray;
}

.note-container:focus {
	outline: none;
}

.note-container:focus-visible {
	outline: 2px solid blue;
	outline-offset: 2px;
	border-radius: 2px;
}