---
id: 
title: Eleventy debugging
desc: ''
updated: 
created: 
source: >-
    https://www.kevinslin.com/notes/3dd58f62-fee5-4f93-b9f1-b0f0f59a9b64/
tags: [eleventy, ref]
schema: lang.js.
---

{{ { title: title, tags: tags, date: date | dump } }}