<p>
    These are what you might call "evergreen notes". They're
    relatively stable
</p>

<ul>
{% for item in collections.ref %}
    <li><a href="{{ item.url }}">{{ item.data.title or item.url }}</a></li>
{% endfor %}
</ul>