/* || NOTE CONTAINER */
body.js-enabled {
    counter-reset: fn;
}

.js-enabled .note-container {
    cursor: pointer;
    counter-increment: fn;
}

.js-enabled .note-container[aria-expanded="false"]::before {
    content: "[" counter(fn);
}

.note-container::before {
    content: "[";
}

.note-container::after {
    content: "]";
}

.js-enabled .note {
    display: none;
}

.note-container[aria-expanded="true"] .note {
    display: inline;
    font-style: italic;
}

.note-container {
    display: inline;
    color: blue;
}

/* || CODE BLOCK */
.code-block-wrapper {
    position: relative;
    margin: 1rem 0;
}

pre:has(code) {
    overflow-x: auto;
    margin: 0;
    padding: 1.75rem 0 1.75rem 1rem;
}

/* TODO: fix overlap with long lines of code */
/* ... possibly fixed with transparent bg? */
.copy-code-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    border-radius: 5px;
    font-size: 0.82rem;
    padding: 2px 4px;
    cursor: pointer;
    background: transparent;
}

@media (prefers-color-scheme: dark) {
    .copy-code-button {
        color: white;
    }
}

/* || INLINE CODE */
code:not(pre > code) {
    font-size: 0.84em;
    background: lightgrey;
    border-radius: 0.3em;
    padding: 2px 4px;
    white-space: nowrap;
}

/* || EXTERNAL LINK */
.external::after {
    background-color: currentcolor;
    content: "\200b"/"(external)";
    display: inline-block;
    height: 1em;
    margin-left: .2em;
    -webkit-mask-image: url(/external.svg);
    mask-image: url(/external.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    vertical-align: text-top;
    width: 1em;
}

/* || FRAGMENTS */
.fragment {
    padding: 8px;
    background: white;
}

.fragment + * {
    margin-top: 1rem;
}