header * {
    font-size: 1.15em;
    text-decoration: none;
}

header a, header a:visited {
    color: gray;
    font-weight: 600;
}

header a.active, header a.active:visited {
    color: fuchsia;
    /* color: lightseagreen; */
}

header span:not(:last-child)::after {
    content: ",";
    color: gray;
}

main {
    max-width: 72ch;
}