code:not(pre > code) {
    font-size: 0.84em;
    background: lightgrey;
    border-radius: 0.3em;
    padding: 2px 4px;
    white-space: nowrap;
}

.code-block-wrapper {
    position: relative;
    margin: 1rem 0;
}

pre:has(code) {
    overflow-x: auto;
    margin: 0;
    padding: 1.75rem 0 1.75rem 1rem;
}

.copy-code-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 2px 4px;
    cursor: pointer;
}

.breadcrumbs ol {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    font-size: 0.9rem;
}

.breadcrumbs li:not(:last-child)::after {
    content: "/";
    margin-left: 0.5rem;
    color: darkgray;
}

@media (max-width: 600px) {
    .breadcrumbs li:last-child {
        display: none;
    }
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-link {
    text-decoration: none;
    display: block;
    padding: 0 0.5rem 1rem;
}

.section-link:hover {
    outline: 2px solid blue;
    border-radius: 8px;
}

ul.feed {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.feed-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .feed-item {
        flex-direction: column;
    }

    .metadata {
        align-self: end;
    }
}

.label {
    background-color: #ddd;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    padding: 0 6px;
    margin: 4px 2px;
    border-radius: 1rem;
    border: 1px solid darkgray;
    text-decoration: none;
}