.pagefind-ui__results-area * {
    margin: 0;
}

#search-modal::backdrop {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
}

#search-modal {
    width: 90%;
    max-width: 650px;
    height: 500px;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Pagefind form */
.pagefind-ui__form {
    display: grid !important;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 8px;
    align-items: center;
}

.pagefind-ui__search-input {
    grid-column: 1;
    width: 100% !important;
}

.pagefind-ui__search-clear {
    grid-column: 2;
    width: auto;
}

.pagefind-ui__drawer {
    grid-column: 1 / span 2;
    grid-row: 2;
}

/* Pagefind results */
#search {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

.pagefind-ui__results-area {
    overflow-y: auto !important;
    flex-grow: 1;
    padding-right: 10px;
}