:root {
	--code-bg: #282a36;
	--code-base: #f8f8f2;
	--code-quiet: #6272a4;
	--code-comment: #9ca3af;
	--code-deleted: #dc2626;
    --code-inserted: #16a34a;

	/* Functional accents */
	--code-logic: #ff79c6;
	--code-data: #50fa7b;
	--code-call: #8be9fd;
	--code-name: #ffb86c;
}

code[class*="language-"],
pre[class*="language-"] {
	color: var(--code-base);
	background: var(--code-bg);
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
	font-size: 0.875rem;
	line-height: 1.25;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	tab-size: 4;
	hyphens: none;
}

pre[class*="language-"] {
	padding: 1.25em;
	margin: 1em 0;
	overflow: auto;
	border-radius: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

/* Inline code */
:not(pre)>code[class*="language-"] {
	padding: 0.2em 0.4em;
	border-radius: 0.3em;
	background: var(--code-bg);
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--code-comment);
	font-style: italic;
}

.token.punctuation {
	color: var(--code-quiet);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol {
	color: var(--code-logic);
}

.token.boolean,
.token.number {
	color: var(--code-data);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin {
	color: var(--code-data);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: var(--code-call);
}

.token.atrule,
.token.attr-value,
.token.function {
	color: var(--code-name);
}

.token.keyword {
	color: var(--code-call);
}

.token.regex,
.token.important {
	color: var(--code-name);
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.deleted {
	color: var(--code-deleted);
}

.token.inserted {
	color: var(--code-inserted);
}

@media (forced-colors: active) {

	pre[class*="language-"],
	code[class*="language-"] {
		background: Canvas;
		color: CanvasText;
		border: 1px solid ButtonBorder;
	}

	.token.keyword,
	.token.function {
		font-weight: bold;
		color: LinkText;
	}

	.token.comment {
		color: GrayText;
	}
}