:root {
    font-family: Arial, Helvetica, sans-serif;
    --border-soft: light-dark(#e0e1e6, #303136);

    /* Scale */
    --ratio: 1.25;
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));   /* 1.25rem */
    --s2: calc(var(--s1) * var(--ratio));   /* 1.56 rem */
    --s3: calc(var(--s2) * var(--ratio));   /* 1.95 rem */
    --s4: calc(var(--s3) * var(--ratio));   /* 2.44 rem */
    --s5: calc(var(--s4) * var(--ratio));   /* 3.05 rem */
    --s6: calc(var(--s5) * var(--ratio));
    --s7: calc(var(--s6) * var(--ratio));
    --s8: calc(var(--s7) * var(--ratio));
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}

h1 { font-size: var(--s5); }
h2 { font-size: var(--s4); }
h3 { font-size: var(--s3); }
h4 { font-size: var(--s2); }
h5 { font-size: var(--s1); }
h6 { font-size: var(--s0); }

p {
    margin-bottom: 1rem;
}

a, a:visited {
    color: blue;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.4;
}

body > header, body > footer {
    flex: 0 0 auto;
    padding: 1.5vmin 2.5vmin;
}

main {
    flex: 1;
    padding: 1rem 2.5vmin;
}

article {
    max-width: 80ch;
}

body > footer {
    background: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.7);
}