:root {
    font-family: Arial, Helvetica, sans-serif;
    --border-soft: light-dark(#e0e1e6, #303136);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.4;
}

header, footer {
    flex: 0 0 auto;
    padding: 1.5vmin 2.5vmin;
}

main {
    flex: 1;
    padding: 1rem 2.5vmin;
    max-width: 80ch;
}

.keyb {
    padding: 0.1rem 0.3rem;
    background: lightgray;
    font-family: monospace;
    border: 1px solid black;
}

footer, footer * {
    background: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.7);
}