:root {
    font-family: Arial, Helvetica, sans-serif;
    --border-soft: light-dark(#e0e1e6, #303136);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex: 0 0 auto;
}

header h1 {
    display: inline;
}

main {
    flex: 1;
    padding: 1rem 0;
}