---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const snippets = await getCollection('snippets');
    return snippets.map((snippet) => ({
        params: { slug: snippet },
        props: { snippet }
    }));
}

const { snippet } = Astro.props;
---
<html>
  <head>
    <title>{snippet.data.title}</title>
  </head>
  <body>
    <h1>{snippet.data.title}</h1>
    <article>
      <snippet />
    </article>
    <ul>
      {snippet.data.tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </body>
</html>