@import "tailwindcss";

@layer base {
    :root {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        all: revert;
    }

    p + p {
        @apply pt-2;
    }

    .ext-link {
        @apply text-blue-700 underline;
    }

    .ext-link span {
        font-family: system-ui;
        @apply font-bold;
    }
}