---
title: manage session
tags: ["chunk", "ref", "cli"]
parent: tmux
---
{{ parent }} / {{ title }}
<ul>
{% for tag in tags %}
<li>{{ tag }}</li>
{% endfor %}
</ul>

{% fragment "New session" %}
<code>tmux new -s hello</code>
{% endfragment %}

{% fragment "Reattach to session" %}
<code>tmux a -t hello</code>
{% endfragment %}

{% fragment "Kill session" %}
<code>tmux kill-session -t hello</code>
{% endfragment %}