<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="{{ get_url(path='style.css') }}"> -->
     <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <!-- <link rel="icon" type="image/svg+xml" href="{{ get_url(path='favicon.svg') }}"> -->
</head>

<body>
    <header>
        <h1><a href="/">{{ config.title }}</a></h1>
        <nav>
            <div class="search-container">
                <input id="search" type="search" placeholder="search for something">

                <div class="search-results">
                    <div class="search-results__items"></div>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>© {{ now() | date(format="%Y") }} {{ config.extra.author }}</p>
    </footer>

    <script type="text/javascript" src="/elasticlunr.min.js"></script>
    <script type="text/javascript" src="/search.js"></script>
</body>

</html>
