<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ config.base_url }}">{{ config.title }}</a></h1>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>© {{ now() | date(format="%Y") }} {{ config.extra.author }}</p>
    </footer>
</body>
</html>