---
layout: folder-index.njk
---
<h1>Notes</h1>

<ul>
    {% for item in collections.notes %}
        <li><a href="{{ item.url }}">{{ item.data.title or item.fileSlug }}</a></li>
    {% endfor %}
</ul>