---
draft: true
---

<p>
    None of these are comprehensive run-downs or audits. This is just what I could find from using the dev tools inspector in a very cursory manner and some brief Googling.
    In cases where the product offers a mobile app and a web app, my notes will primarily apply to the latter platform, seeing as it's much harder to "inspect" a mobile application.
</p>


<h2>Brilliant.org</h2>

<ul>
    <li>Uses Chakra UI in some capacity {% note %}HTML has chakra in class names for several elements{% endnote %}</li>
    <li>Has a in-house/closed-source tool called <a href="https://www.youtube.com/watch?v=gT9Xu-ctNqI">Diagrammar</a> for making simple, interactive diagrams</li>
    <li>Uses/has previously used Rive {% note %}I assume it's still being used but can't really confirm{% endnote %} for real-time motion graphics
        <ul>
            <li>Rive shared a <a href="https://rive.app/blog/how-brilliant-org-motivates-learners-with-rive-animations">case study</a> back in 2024</li>
        </ul>
    </li>
    <li>I'm not an expert in native vs. hybrid mobile development, but based on my experience using the Brilliant mobile app on iOS,
        I think it's likely that they use {% note %}they definitely previously had a wrapper experience cuz there were some janky/weird transitions
        and interactions that didn't fully make sense{% endnote %} a wrapper or something similar to port their codebase.</li>
</ul>

<p>
    Brilliant also has a <a href="https://blog.brilliant.org/hand-crafted-machine-made/">blog</a> where they occasionally {% note %}as of late March 2026,
    it hasn't been active in over a year :/{% endnote %} share behind-the-scenes insights into how they do things.
</p>