<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
<body>
    {% include "header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}
    
    {% js %}
        {% include "js/notes.js" %}
        {# {% include "js/copy.js" %} #}
        {# {% include "js/search.js" %} #}
    {% endjs %}
    <script>{% getBundle "js" %}</script>
    {# <script src="/pagefind/pagefind-ui.js"></script> #}
</body>
</html>