<!DOCTYPE html>
<html lang="en">
    {% include "head.njk" %}
<body class="flow">
    {% include "header.njk" %}

    <main>
        {{ content | safe }}
    </main>

    {% include "footer.njk" %}

    {% if tabs %}
        <script src="/js/seven-minute-tabs.js" type="module"></script>
    {% endif %}
    
    {% js %}
        {% include "js/notes.js" %}
        {% include "js/copy.js" %}
        {# {% include "js/search.js" %} #}
        {% include "js/demos.js" %}
    {% endjs %}
    <script>{% getBundle "js" %}</script>
    <script src="/pagefind/pagefind-ui.js"></script>
</body>
</html>