---
title: tmux crib sheet
code: false
tabs: false
---

<pre>
{{ contentType | dump | safe }}
</pre>

<div class="grid-container">
    <div class="grid-card">
        <h3>Panes</h3>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "%" %}</span>
            <span class="desc">Split vertical</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "\"" %}</span>
            <span class="desc">Split horizontal</span>
        </div>
    </div>
</div>