---
title: tmux quick ref
code: true
grid: true
refs:
- https://tmuxcheatsheet.com/
---

<p>
    I use {% tmuxPrefix %} as my prefix instead of {% kbd "Ctrl" %}-{% kbd "b" %} because
    it's more convenient for me. If you use this crib sheet, just swap the prefix in your head accordingly.
</p>


{% highlight "bash" %}
# new session
tmux new -s hello

# reattach to session
tmux a -t hello

# kill session
tmux kill-session -t hello
{% endhighlight %}

<div class="grid-container">
    <div class="grid-card">
        <h3>Sessions</h3>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "$" %}</span>
            <span class="desc">Rename session</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "d" %}</span>
            <span class="desc">Detach from session</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "s" %}</span>
            <span class="desc">Show all sessions</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "(" %}</span>
            <span class="desc">Go to prev session</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd ")" %}</span>
            <span class="desc">Go to next session</span>
        </div>
    </div>

    <div class="grid-card">
        <h3>Windows</h3>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "c" %}</span>
            <span class="desc">Create window</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "," %}</span>
            <span class="desc">Rename curr window</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "&" %}</span>
            <span class="desc">Close curr window</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "w" %}</span>
            <span class="desc">List all window</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "p" %}</span>
            <span class="desc">Prev window</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "n" %}</span>
            <span class="desc">Next window</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "l" %}</span>
            <span class="desc">Toggle last active window</span>
        </div>
    </div>

    <div class="grid-card">
        <h3>Panes</h3>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "%" %}</span>
            <span class="desc">Split vertical</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "\"" %}</span>
            <span class="desc">Split horizontal</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd ";" %}</span>
            <span class="desc">Toggle last active pane</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "!" %}</span>
            <span class="desc">Convert pane to window</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "x" %}</span>
            <span class="desc">Close curr pane</span>
        </div>
    </div>

    <div class="grid-card">
        <h3>Misc.</h3>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd ":" %}</span>
            <span class="desc">Enter command mode</span>
        </div>
        <div class="command-row">
            <span class="hotkey">{% tmuxPrefix %} {% kbd "?" %}</span>
            <span class="desc">List key bindings</span>
        </div>
    </div>
</div>