---
layout: base.njk
permalink: /index.html
eleventyExcludeFromCollections: true
---
<div class="grid">
    {% for item in collections.all %}
        <div class="grid-card">
            <a class="title" href="{{ item.url }}">{{ item.data.title or item.data.fileSlug}}</a>
            <div class="content">
                {{ item.templateContent | safe }}
            </div>
        </div>
    {% endfor %}
</div>