<p>
    This is my personal docs site. It's one of many experiments I've begun in trying to
    compensate for my poor working memory. I write a lot of code, but I can get slowed
    down by syntax and tooling conventions. Rather than wade through heaps of stuff online,
    I simply keep my own notes on things I continually use and reference.
</p>

<p>
    All this is to say that this site is very much tailored for my own use. It's available
    publicly for my personal convenience, and also because I've benefitted greatly from others
    sharing their knowledge. However, I'm writing these notes strictly
    <a href="https://notes.andymatuschak.org/zXDPrYcxUSZbF5M8vM5Y1U9">for myself</a>.
    Any value someone else gleans from this is a second-order effect downstream from my primary objective.
</p>

<p>
    The thing is, it's hard for me to not view my own work through the lens of someone else
    perceiving it.
    {% note %}I strongly suspect I have a subtype of obsessive-compulsive disorder called "just right" OCD, which explains a lot about who I am as a person.{% endnote %}
    So I'm also choosing to elaborate on the intent behind this endeavor as a reminder for my future self.
</p>

<p>
    Some of the things I publish here will be wrong. Or contain typos. Or be incomplete/misguided.
    And I'll catch and correct some of them over time, and others I might not. But, to err is human.
    If you spot anything that looks amiss, feel free to let me know and I'll take a look when I can:
    <code>whitwaltman</code> at <code>mailbox dot org</code>.
</p>