---
layout: folder-index.njk
pagination:
    data: collections.snippetCategories
    size: 1
    alias: category
permalink: "/snippets/{{ category }}/"
---

{% set categoryInfo = sections.snippets.children[category] %}
{% set displayLabel = categoryInfo.label or category %}

<h1>{{ displayLabel | capitalize }} snippets</h1>
<p>{{ categoryInfo.description | capitalize }}</p>

<ul>
    {% set categoryPosts = collections.snippets | filterBySnippetCategory(category) %}
    {% for item in categoryPosts %}
        <li><a href="{{ item.url }}">{{ item.data.title or item.fileSlug }}</a></li>
    {% endfor %}
</ul>