---
eleventyExcludeFromCollections: true
eleventyComputed:
  permalink: "{% if isProduction %}false{% else %}/style.css{% endif %}"
---
{% include "../css/base.css" %}
{% include "../css/main.css" %}
{% include "../css/note.css" %}