---
pagination:
    data: collections
    size: 1
    alias: folder
    filter:
        - all
permalink: "/{{ folder }}/"
layout: folder-index.njk
---

{% set targetFolders = ["crib", "notes", "snippets"] %}
{% set labels = {
    "crib": "Crib sheets",
    "notes": "Notes",
    "snippets": "Code snippets"
} %}

{% if folder in targetFolders %}
<h1>{{ labels[folder] }}</h1>

<ul>
{% for item in collections[folder] %}
    <li><a href="{{ item.url }}">{{ item.data.title or item.page.fileSlug }}</a></li>
{% endfor %}
</ul>

{% else %}
    {% set ignore = true %}
{% endif %}

