---
layout: base.njk
---

<h2>Browse by category</h2>

<div class="sections">
    <a class="section-link" href="/crib/">
        <h3>crib sheets</h3>
        <span class="sub-h3">quick reference notes, sans explanations</span>
    </a>
    <a class="section-link" href="/notes/">
        <h3>notes</h3>
        <span class="sub-h3">scribblings and thoughts</span>
    </a>
    <a class="section-link" href="/snippets/">
        <h3>snippets</h3>
        <span class="sub-h3">code you can copy/steal to save time</span>
    </a>
</div>

<hr>

<h2>All posts</h2>

<ul class="feed">
{% for item in collections.feed %}
    <li class="feed-item">
        <a href="{{ item.url }}">{{ item.data.title or item.fileSlug }}</a>
        <div class="metadata">
            <a href="/{{ item.data.contentType }}" class="label content-type">
                {{ item.data.contentTypeLabel | chop }}
            </a>
            {% if item.data.snippetCategory %}
                <a href="/snippets/{{ item.data.snippetCategory }}" class="label category-tag">
                    {{ item.data.categoryLabel | lower }}
                </a>
            {% endif%}
        </div>
    </li>
{% endfor %}
</ul>