---
layout: layouts/base.njk
styles: ["/card.css"]
---
<div class="card">
    {{ content | safe }}
    <span>Created: {{ created | fmtDate }}</span>
    <span>Updated: {{ page.date | fmtDate }}</span>
</div>