{{ description | safe }}

<style>
{{ css | safe }}
</style>

<div class="demo">
{{ html | safe }}
</div>

<details>
  <summary>index.html</summary>

  {% highlight "html" %}
  {{ html | safe }}
  {% endhighlight %}
</details>

<details>
  <summary>style.css</summary>

  {% highlight "css" %}
  {{ css | safe }}
  {% endhighlight %}
</details>