---
layout: layouts/base.njk
styles: ["/syntax.css"]
---
<span>Created: {{ created | fmtDate }}</span>
<span>Updated: {{ page.date | fmtDate }}</span>

{{ content | safe }}

{% if source %}
<a href="{{ source }}">source</a>
{% endif %}